absl-py==1.4.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
aiostream==0.4.5
alembic==1.11.1
altair==5.1.1
anthropic==0.3.7
antlr4-python3-runtime==4.9.3
anyio==3.7.1
apache-airflow==2.6.3
apache-airflow-providers-common-sql==1.6.0
apache-airflow-providers-ftp==3.4.2
apache-airflow-providers-http==4.4.2
apache-airflow-providers-imap==3.2.2
apache-airflow-providers-sqlite==3.4.2
apispec==5.2.2
appdirs==1.4.4
appnope==0.1.3
argcomplete==3.1.1
argilla==0.0.1
asgiref==3.7.2
asttokens==2.4.0
async-timeout==4.0.2
attrs==23.1.0
Authlib==1.2.1
Babel==2.12.1
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.6.2
cachelib==0.9.0
cachetools==5.3.1
cattrs==23.1.2
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.2.0
chromadb==0.3.26
click==8.1.5
click-log==0.4.0
clickclick==20.10.2
clickhouse-connect==0.6.8
cohere==4.18.0
colorama==0.4.6
coloredlogs==15.0.1
colorlog==4.8.0
comm==0.1.4
ConfigUpdater==3.1.1
connexion==2.14.2
contourpy==1.1.0
cron-descriptor==1.4.0
croniter==1.4.1
cryptography==41.0.2
ctransformers==0.2.17
cycler==0.11.0
dataclasses-json==0.5.14
datasets==2.14.5
debugpy==1.7.0
decorator==5.1.1
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.7
diskcache==5.6.1
distlib==0.3.6
distro==1.8.0
dnspython==2.3.0
docarray==0.21.1
docker==6.1.3
docstring-parser==0.15
docutils==0.20.1
dotty-dict==1.3.1
duckdb==0.8.1
ecdsa==0.18.0
email-validator==1.3.1
et-xmlfile==1.1.0
executing==1.2.0
fairscale==0.4.13
faiss-cpu==1.7.4
fake-useragent==1.1.3
Faker==19.3.1
fastapi==0.98.0
fastavro==1.7.4
favicon==0.7.0
filelock==3.12.2
filetype==1.2.0
fire==0.5.0
Flask==2.2.5
Flask-AppBuilder==4.3.1
Flask-Babel==2.0.0
Flask-Caching==2.0.2
Flask-JWT-Extended==4.5.2
Flask-Limiter==3.3.1
Flask-Login==0.6.2
Flask-Session==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
flatbuffers==23.5.26
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.6.0
gitdb==4.0.10
GitPython==3.1.32
google-api-core==2.11.1
google-api-python-client==2.95.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-re2==1.0
google-search-results==2.4.2
googleapis-common-protos==1.60.0
gotrue==1.0.2
graphviz==0.20.1
grpcio==1.56.2
grpcio-health-checking==1.56.2
grpcio-reflection==1.56.2
grpcio-tools==1.56.2
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
hnswlib==0.7.0
hpack==4.0.0
htbuilder==0.6.1
httpcore==0.16.3
httplib2==0.22.0
httptools==0.6.0
httpx==0.23.3
huggingface-hub==0.15.1
humanfriendly==10.0
hydra-core==1.3.2
hyperframe==6.0.1
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.0.0
inflection==0.5.1
invoke==1.7.3
ipykernel==6.25.2
ipython==8.15.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jcloud==0.2.14
jedi==0.19.0
jina==3.15.2
jina-hubble-sdk==0.39.0
Jinja2==3.1.2
joblib==1.3.1
jsonschema==4.18.3
jsonschema-specifications==2023.6.1
jupyter_client==8.3.1
jupyter_core==5.3.1
keyring==24.2.0
kiwisolver==1.4.5
langchain==0.0.219
langchainplus-sdk==0.0.20
langflow==0.2.7
lazy-object-proxy==1.9.0
limits==3.5.0
linkify-it-py==2.0.2
# Editable install with no version control (llama==0.0.1)
-e /Users/mavwong/Downloads/llama-main
llama-cpp-python==0.1.77
lockfile==0.12.2
loguru==0.7.0
lxml==4.9.3
lz4==4.3.2
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
millify==0.1.1
monotonic==1.6
more-itertools==10.0.0
mpmath==1.3.0
msg-parser==1.2.0
multidict==6.0.4
multiprocess==0.70.15
mypy-extensions==1.0.0
nest-asyncio==1.5.7
networkx==3.1
nltk==3.8.1
numexpr==2.8.4
numpy==1.25.2
oauthlib==3.2.2
olefile==0.46
omegaconf==2.3.0
onnxruntime==1.15.1
openai==0.27.8
openapi-schema-pydantic==1.2.4
openpyxl==3.1.2
opentelemetry-api==1.19.0
opentelemetry-exporter-otlp==1.19.0
opentelemetry-exporter-otlp-proto-common==1.19.0
opentelemetry-exporter-otlp-proto-grpc==1.19.0
opentelemetry-exporter-otlp-proto-http==1.19.0
opentelemetry-exporter-prometheus==1.12.0rc1
opentelemetry-instrumentation==0.40b0
opentelemetry-instrumentation-aiohttp-client==0.40b0
opentelemetry-instrumentation-asgi==0.40b0
opentelemetry-instrumentation-fastapi==0.40b0
opentelemetry-instrumentation-grpc==0.40b0
opentelemetry-proto==1.19.0
opentelemetry-sdk==1.19.0
opentelemetry-semantic-conventions==0.40b0
opentelemetry-util-http==0.40b0
ordered-set==4.1.0
orjson==3.9.2
overrides==7.3.1
packaging==23.1
pandas==2.0.3
parso==0.8.3
pathspec==0.9.0
pdf2image==1.16.3
pdfminer.six==20221105
pendulum==2.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pinecone-client==2.2.2
pkginfo==1.9.6
platformdirs==3.5.3
plotly==5.16.1
pluggy==1.2.0
portalocker==2.7.0
postgrest==0.10.6
posthog==3.0.1
prison==0.2.1
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==4.23.4
psutil==5.9.5
psycopg==3.1.9
psycopg-binary==3.1.9
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pulsar-client==3.2.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.11
pydeck==0.8.0
Pygments==2.15.1
PyJWT==2.7.0
pymdown-extensions==10.3
pymongo==4.4.1
Pympler==1.0.1
pypandoc==1.11
pyparsing==3.0.9
pypdf==3.14.0
pysrt==1.1.2
python-daemon==3.0.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-gitlab==3.15.0
python-jose==3.3.0
python-magic==0.4.27
python-multipart==0.0.6
python-nvd3==0.15.0
python-pptx==0.6.21
python-semantic-release==7.33.2
python-slugify==8.0.1
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
PyYAML==6.0
pyzmq==25.1.1
qdrant-client==1.3.2
readme-renderer==40.0
realtime==1.0.0
referencing==0.29.1
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rich==13.4.2
rich-argparse==1.2.0
rpds-py==0.8.10
rsa==4.9
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.11.1
semver==2.13.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
setproctitle==1.3.2
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
SQLAlchemy==1.4.41
SQLAlchemy-JSONField==1.0.1.post0
SQLAlchemy-Utils==0.41.1
sqlalchemy2-stubs==0.0.2a35
sqlmodel==0.0.8
sqlparse==0.4.4
st-annotated-text==4.0.0
stack-data==0.6.2
starlette==0.27.0
storage3==0.5.3
streamlit==1.26.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.0
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
StrEnum==0.4.15
supabase==1.0.3
supafunc==0.2.2
sympy==1.12
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.14.0
tensorboard-data-server==0.7.1
termcolor==2.3.0
text-unidecode==1.3
threadpoolctl==3.2.0
tiktoken==0.4.0
tokenizers==0.13.3
toml==0.10.2
tomlkit==0.12.1
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado==6.3.3
tqdm==4.65.0
traitlets==5.9.0
transformers==4.31.0
twine==3.8.0
typer==0.9.0
types-cachetools==5.3.0.6
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.3.1
uc-micro-py==1.0.2
unicodecsv==0.14.1
unstructured==0.7.12
uritemplate==4.1.1
urllib3==1.26.16
uvicorn==0.22.0
uvloop==0.17.0
validators==0.20.0
virtualenv==20.23.0
watchfiles==0.19.0
wcwidth==0.2.6
weaviate-client==3.22.1
webencodings==0.5.1
websocket-client==1.6.1
websockets==10.4
Werkzeug==2.2.3
wikipedia==1.4.0
wrapt==1.15.0
WTForms==3.0.1
xlrd==2.0.1
XlsxWriter==3.1.2
xxhash==3.3.0
yarl==1.9.2
zipp==3.16.2
zstandard==0.21.0
